<link rel="stylesheet" href="../css/nav-bar.css">
<link rel="stylesheet" href="../css/preview_file.css">
<nav>
    <h1>CSV FILE VIEWER</h1>
    <h2>
        <%= fileName %>
    </h2>
    <a href="/"><i class="fa-solid fa-delete-left fa-lg"></i></a>
</nav>

<main>
    <div class="search-area">
        <div class="rowsCount">
            <h3>Rows Count : <%= data.length %>
            </h3>
        </div>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Search...">
        </div>
        <div class="select-count">
            <select name="rows-count" id="rows-count">
                <option value="10" selected>10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>

    <div class="display-area">
        <table id="display-data-table">
            <thead>
                <tr>
                    <% for(let i=0; i < head.length; i++) { %>
                        <th onclick="sortTable(<%= i %>)">
                            <%= head[i] %>
                        </th>
                        <% } %>
                </tr>
            </thead>

            <tbody>
                <% for(let row of data) { %>
                    <tr>
                        <% for(let key of Object.keys(row)) { %>
                            <td>
                                <%= row[key] %>
                            </td>
                            <% } %>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>

</main>

<script src="../js/preview_file.js"></script>